name: Terraform Infra Deployment
on: workflow_dispatch
  # pull_request:
  #   branches:
  #     - main
  # push: 
  #   branches:
  #     -main
# permissions:
#   id-token: write
#   contents: read

jobs:
  terraform-init-plan: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Azure Login
        run: echo "hello world"
        # uses: Azure/login@v2.3.0
        # with: 
      
         
  
